
<br/><br/><br/><br/>
<div>
  <context>To report an issue to your landlord please fill out the form below.
  A text message will be sent to your landlord once the form is created.</context>
  
  <p>Name: <%=@user.full_name%></p>
  <p>Address: <%=@user.address%></p>
  <%= form_for(@issue) do |f| %>
    <div class="field">Description: <%= f.text_area :detail %></div>
    <%= f.submit :create, class: "btn btn-primary" %>

  <% end %>
</div>
